In [1]:
import pandas as pd

In [25]:
bracero_df_og = pd.read_csv('../data/original/bracero_aer_dataset.tab', sep='\t')

In [27]:
bracero_df_og.sample(10)

,State,State_FIPS,Region,Year,Month,DailywoBoard_final,HourlyComposite_final,MonthlyComposite_final,TotalHiredSeasonal_final,Mexican_final,...,BWI_HP,Canadian_dual,Canadian_HP,PuertoRican_dual,PuertoRican_HP,OtherForeign_dual,OtherForeign_HP,cropland_1954,State_name,pop1950
9061,NJ,34,2.0,1942,7.0,3.60,NaN,64.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,788000,New Jersey,4835329
9661,NY,36,2.0,1970,10.0,13.70,1.480,NaN,21113.0,NaN,...,NaN,3.0,NaN,107.0,NaN,NaN,NaN,5547000,New York,14830192
953,AR,5,7.0,1968,11.0,NaN,NaN,NaN,6675.0,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,5536000,Arkansas,1909511
10550,ND,38,4.0,1970,1.0,12.50,1.300,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21241000,North Dakota,619636
10666,OH,39,NaN,1960,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10340000,Ohio,7946627
13215,TX,48,7.0,1947,11.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24885000,Texas,7711194
2950,GA,13,5.0,1962,1.0,4.85,0.601,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6117000,Georgia,3444578
5461,ME,23,NaN,1973,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,796000,Maine,913774
12041,RI,44,1.0,1959,7.0,10.20,1.060,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000,Rhode Island,791896
9975,NC,37,5.0,1972,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,5504000,North Carolina,4061929

In [29]:
bracero_df_og.columns

Index(['State', 'State_FIPS', 'Region', 'Year', 'Month', 'DailywoBoard_final',
       'HourlyComposite_final', 'MonthlyComposite_final',
       'TotalHiredSeasonal_final', 'Mexican_final',
       'HiredWorkersonFarms_final', 'Local_final', 'Intrastate_final',
       'Interstate_final', 'TotalForeign_final', 'Jamaican_final',
       'Bahamian_final', 'BWIOthers_final', 'BWI_final', 'Canadian_final',
       'CanadianOthers_final', 'PuertoRican_final', 'OtherForeign_final',
       'TotalAg_final', 'Nonlocal_final', 'Farmworkers_Total',
       'Farmworkers_Family', 'Farmworkers_Hired', 'Petroleum', 'Tractors',
       'Cotton_machine', 'Sugarbeet_machine', 'Sugarbeet_monogerm',
       'SugarBeets', 'Cotton', 'Tomatoes_total', 'Lettuce',
       'Strawberries_total', 'Citrus', 'Cantaloupes', 'BrusselsSprouts',
       'Asparagus_total', 'Celery', 'Cucumbers_pickle', 'Tomatoes_fresh',
       'Tomatoes_proc', 'Strawberries_fresh', 'Strawberries_proc',
       'Asparagus_fresh', 'Asparagus_proc', 'TotalHiredSeasonal_dual',
       'TotalHiredSeasonal_HP', 'TotalAg_dual', 'TotalAg_HP', 'Mexican_dual',
       'Mexican_HP', 'TotalForeign_dual', 'TotalForeign_HP',
       'TotalDomestic_dual', 'Local_dual', 'Local_HP', 'Intrastate_dual',
       'Intrastate_HP', 'Interstate_dual', 'Interstate_HP', 'Jamaican_dual',
       'Jamaican_HP', 'Bahamian_dual', 'Bahamian_HP', 'BWI_dual', 'BWI_HP',
       'Canadian_dual', 'Canadian_HP', 'PuertoRican_dual', 'PuertoRican_HP',
       'OtherForeign_dual', 'OtherForeign_HP', 'cropland_1954', 'State_name',
       'pop1950'],
      dtype='object')

In [39]:
farmworkers_df = bracero_df_og[['State','Year','Month','TotalHiredSeasonal_final','Mexican_final','HiredWorkersonFarms_final',
              'Local_final','Intrastate_final','Interstate_final','TotalForeign_final','Jamaican_final','Bahamian_final',
              'BWIOthers_final','BWI_final','Canadian_final','CanadianOthers_final','PuertoRican_final', 'TotalAg_final','Nonlocal_final','Farmworkers_Total','Farmworkers_Family','Farmworkers_Hired']]

In [41]:
farmworkers_df.sample(10)

,State,Year,Month,TotalHiredSeasonal_final,Mexican_final,HiredWorkersonFarms_final,Local_final,Intrastate_final,Interstate_final,TotalForeign_final,...,BWIOthers_final,BWI_final,Canadian_final,CanadianOthers_final,PuertoRican_final,TotalAg_final,Nonlocal_final,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
12550,SC,1959,8.0,18375.0,0.0,NaN,18375.0,0.0,0.0,0.0,...,NaN,0.0,NaN,0.0,0.0,NaN,NaN,272.0,181.0,91.0
11590,PA,1968,4.0,NaN,NaN,35000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.0,109.0,16.0
3371,IL,1966,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165.0,140.0,25.0
7593,MO,1957,9.0,2500.0,0.0,NaN,1950.0,0.0,550.0,0.0,...,0.0,NaN,NaN,NaN,0.0,2500.0,NaN,396.0,307.0,89.0
334,AZ,1966,11.0,20737.0,NaN,NaN,16608.0,2132.0,1997.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3707,IN,1944,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4442,KS,1958,8.0,29000.0,0.0,NaN,12500.0,13500.0,3000.0,0.0,...,0.0,NaN,NaN,NaN,0.0,29000.0,NaN,209.0,156.0,53.0
10437,ND,1963,4.0,3760.0,0.0,98000.0,2050.0,625.0,1085.0,0.0,...,NaN,0.0,NaN,0.0,0.0,NaN,NaN,87.0,74.0,13.0
3907,IN,1947,10.0,NaN,3.0,252000.0,NaN,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5752,MD,1959,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
farmworkers_df = farmworkers_df.rename(columns={'TotalHiredSeasonal_final': 'TotalHiredSeasonal', 
                                               'Mexican_final': 'Mexican', 'HiredWorkersonFarms_final': 'HiredWorkers',
                                               'Local_final': 'Local', 'Intrastate_final': 'Intrastate', 'Interstate_final': 'Interstate',
                                               'TotalForeign_final': 'TotalForeign', 'Jamaican_final': 'Jamaican', 'Bahamian_final': 'Bahamian',
                                               'BWIOthers_final': 'BWIOthers', 'BWI_final': 'BWI', 'Canadian_final': 'Canadian', 'CanadianOthers_final': 'CanaidanOthers',
                                               'PuertoRican_final': 'PuertoRican', 'OtherForeign_final': 'OtherForeign', 'TotalAg_final': 'TotalAgWorkers',
                                               'Nonlocal_final': 'Nonlocal'})

In [59]:
farmworkers_df.sample(10)

,State,Year,Month,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,...,BWIOthers,BWI,Canadian,CanaidanOthers,PuertoRican,TotalAg,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
4738,KY,1943,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1562,CO,1949,2.0,NaN,234.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7986,NE,1956,5.0,1.0,1.0,NaN,0.0,0.0,0.0,1.0,...,0.0,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN
12983,TN,1948,1.0,NaN,NaN,132000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15668,WY,1959,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12151,RI,1963,11.0,146.0,0.0,NaN,139.0,0.0,0.0,7.0,...,NaN,0.0,NaN,7.0,0.0,NaN,NaN,NaN,NaN,NaN
12076,RI,1963,4.0,NaN,NaN,32000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,1963,9.0,21980.0,0.0,NaN,21830.0,150.0,0.0,0.0,...,NaN,0.0,NaN,0.0,0.0,NaN,NaN,227.0,162.0,65.0
3434,IL,1947,8.0,NaN,1014.0,NaN,NaN,NaN,NaN,1158.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15589,WY,1946,11.0,NaN,543.0,NaN,NaN,NaN,NaN,543.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
farmworkers_df.to_csv('farmworkers.csv', encoding='utf-8', index=False)